<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osp.ucenter.persistence.dao.UcRoleMapper">
  <resultMap id="BaseResultMap" type="com.osp.ucenter.persistence.model.UcRole">
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="role_Name" jdbcType="VARCHAR" property="roleName" />
    <result column="SystemCode" jdbcType="VARCHAR" property="systemcode" />
  </resultMap>
  <sql id="Base_Column_List">
    role_id, role_Name, SystemCode
  </sql>
  
  <sql id="limit_sql">
  	   <if test="page_sql != null and page_sql != ''">
      	${page_sql}
      </if>
  </sql>
  
  <sql id="where_all">
  	<where>
  	<if test="findContent != null and findContent !='' " >
        and (
        LOWER(role_Name) like CONCAT("%",#{findContent,jdbcType=VARCHAR},"%")
        )
      </if>
      </where>
  </sql>
  <!-- 权限分配页面数据展示 -->
  <select id="selectPermissionByRoleIds" resultType="com.osp.ucenter.persistence.bo.UcRolePermissionAllocationBo">
  	select ur.role_id roleId,ur.role_Name roleName,group_concat(m.menu_name) menuNames,group_concat(a.action_Name) actionNames,group_concat(p.Permission_id) permissionIds from 
	uc_permission p
	left join uc_menu m on m.menu_id = p.Menu_id
	left join uc_action a on a.Action_Id = p.Action_id
        right join uc_role_permission urp on urp.permission = p.Permission_id
	right join uc_role ur on ur.role_id = urp.roleid
	group by ur.role_id
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from uc_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </select>
    <!-- 普通的分页查询 -->
  <select id="findAll" resultMap="BaseResultMap" >
  	 select 
    <include refid="Base_Column_List" />
    from uc_role 
    <include refid="where_all"/>
    <include refid="limit_sql" />
  </select>
  <select id="findCount"  resultType="java.lang.Integer">
 	 select count(*) from  uc_role
 	 <include refid="where_all" />
  </select>
  <select id="selectAllRoles" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from uc_role
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from uc_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.osp.ucenter.persistence.model.UcRole">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Aug 09 18:40:44 CST 2017.
    -->
    insert into uc_role (role_id, role_Name, SystemCode
      )
    values (#{roleId,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{systemcode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.osp.ucenter.persistence.model.UcRole">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Aug 09 18:40:44 CST 2017.
    -->
    insert into uc_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="roleName != null">
        role_Name,
      </if>
      <if test="systemcode != null">
        SystemCode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="systemcode != null">
        #{systemcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.osp.ucenter.persistence.model.UcRole">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Aug 09 18:40:44 CST 2017.
    -->
    update uc_role
    <set>
      <if test="roleName != null">
        role_Name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="systemcode != null">
        SystemCode = #{systemcode,jdbcType=VARCHAR},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.osp.ucenter.persistence.model.UcRole">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Aug 09 18:40:44 CST 2017.
    -->
    update uc_role
    set role_Name = #{roleName,jdbcType=VARCHAR},
      SystemCode = #{systemcode,jdbcType=VARCHAR}
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
</mapper>